@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Poppins_400Regular;
  }
}

@layer utilities {
  .font-normal {
    font-family: Poppins_400Regular;
    font-weight: 400;
  }
  .font-medium {
    font-family: Poppins_500Medium;
    font-weight: 500;
  }
  .font-semibold {
    font-family: Poppins_600SemiBold;
    font-weight: 600;
  }
  .font-bold {
    font-family: Poppins_700Bold;
    font-weight: 700;
  }
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}